In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression as lm

In [9]:
#Selecionar o conjunto de dados que vamos dividir

data=pd.read_csv('C:/Users/Diego/Desktop/pythonRead/forestfires.csv')
data.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [10]:
y = data.temp #definindo apenas o eixo do y como importante para a predição 
x = data.drop('temp',axis = 1) # ignorando o eixo X da predição
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2) # separando os dados - o 0.2 equivale a dizer que 20% dos dados do nosso dataset foram treinados
x_train.head()

     X  Y month  day  FFMC    DMC     DC   ISI  RH  wind  rain  area
396  4  3   sep  sun  90.5   96.7  750.5  11.4  55   4.9   0.0  3.64
378  6  5   mar  thu  90.9   18.9   30.6   8.0  51   5.8   0.0  0.00
481  4  3   jul  thu  93.2  114.4  560.0   9.5  22   4.9   0.0  0.00
41   4  4   aug  sat  90.2   96.9  624.2   8.9  42   6.7   0.0  0.00
351  4  4   sep  fri  92.1   99.0  745.3   9.6  53   6.3   0.0  7.31

In [13]:
x_train.shape #formatando a saida modelando com uma função matemática já definida
x_test.head() #imprimindo

     X  Y month  day  FFMC    DMC     DC   ISI  RH  wind  rain   area
331  7  4   sep  sat  91.2  124.4  795.3   8.5  28   4.5   0.0  15.64
505  1  2   aug  thu  91.0  163.2  744.4  10.1  35   1.8   0.0   5.80
145  6  5   aug  thu  95.2  131.7  578.8  10.4  22   4.0   0.0   0.90
231  1  5   sep  sun  93.5  149.3  728.6   8.1  27   3.1   0.0  95.18
366  4  5   sep  tue  91.1  132.3  812.1  12.5  38   5.4   0.0   1.75

In [15]:
x_test.shape

(104, 12)

In [16]:
How to Split Train and Test Set in Python Machine Learning?

Following are the process of Train and Test set in Python ML. So, let’s take a dataset first.
1 - Let’s load the forestfires dataset using pandas.
2. Splitting
Let’s split this data into labels and features. Now, what’s that? Using features, we predict labels. 
I mean using features (the data we use to predict labels), we predict labels (the data we want to predict).
3 - Temp is a label to predict temperatures in y; we use the drop() function to take all other data in x. 
Then, we split the data.
(104, 12)
The line test_size=0.2 suggests that the test data should be 20% of the dataset and the rest should be train data. 
With the outputs of the shape() functions, you can see that we have 104 rows in the test data and 413 in the training data.

SyntaxError: invalid syntax (<ipython-input-16-1b0c34718745>, line 3)

In [19]:
model=lm().fit(x_train,y_train)
predictions=model.predict(x_test)
plt.scatter(y_test,predictions)

ValueError: could not convert string to float: 'sep'